
/.idea/.name
/.idea/scopes/scope_settings.xml
/.idea/xml_parse.iml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/runConfigurations/index_php.xml
/.idea/php.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/deployment.xml